#main {
    height: 300px;
    margin-top: 80px;
}

.brown {
        color: #733D1A;
}

#left {
    float: left;
    width: 300px;
}

#middle {
    float: left;
    width:300px;
}

#right {
    float: left;
    width: 300px;
}
