.gray {
    color: #999999;
}

#about {
    width: 70%;
    margin-left: 80px;
}

#aboutus_cn {
    margin: 10px auto;
}

#aboutus_en {
    margin: 10px auto;
}

#about_title {
    font-size: 15px;
}

#newsupdate {
    width: 160px;
    float:right;
    position: relative;
    color:#733D1A;
    right: 40px;
    top: -50px;
}

#newsupdate>.title {
    font-size: 14px;
    margin-bottom: 5px;
}

#newsupdate>#event_photos_btn>a>img {
    margin: 0px auto;
}

#event_photos_btn {
    margin: 0px auto;
}

#homepage_bg {
    float:left;
    width: 70%;
}

#clear {
    clear: both;
}

#main-bg {
    margin: 10px auto;
}
    
