body {
    background-color: #ffffff;
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

img {
    border: 0px;
}

div#wrapper {
    width: 1024px;
    background-color:#FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    /*
    border: thin solid #000000;
    */
}
div#header {
    margin: 0px;
    text-align: center;
    background-image: url("../images/header.jpg");
    height: 158px;
}
div#nav {
    height: 67px;
    margin-top: 1px;
    top: -20px;
    position: relative;
    background: url("../images/nav.png") center no-repeat;
}
div#main {
    padding: 0px;
}
div#footer {
    padding: 15px;
    margin: 0px;
}

a:link {
    text-decoration: none;
    color: #733D1A;
}

a:visited {
    text-decoration: none;
    color: #733D1A;
}

a:hover {
    text-decoration: underline;
    color: #FF0000;
}

a:active {
    text-decoration: none;
}

div#footer ul li{
    color : #000000;
    background-color : transparent;
    display: inline;
}

div#footer ul li a{
    color : #115EAC;
    background-color : transparent;
    text-decoration : none;
}

div#footer ul li a:hover{
    text-decoration : underline;
}

#nav-artclass {
    position: absolute;
    background-color: transparent;
    height: 50px;
    left: 50px;
    top: 5px;
    width: 155px;
}

#nav-artjam{
    position: absolute;
    background-color: transparent;
    height: 50px;
    left: 202px;
    top: 12px;
    width: 155px;
}

#nav-originalart {
    position: absolute;
    background-color: transparent;
    height: 42px;
    left: 356px;
    position: absolute;
    top: 24px;
    width: 157px;
}

#nav-homedecor {
     background-color: transparent;
     height: 40px;
     left: 510px;
     position: absolute;
     top: 0;
     width: 149px;
}

#nav-wearableart {
     background-color: transparent;
     height: 34px;
     left: 642px;
     position: absolute;
     top: 31px;
     width: 156px;
}

#nav-privateparties {
     background-color: transparent;
     height: 40px;
     left: 803px;
     position: absolute;
     top: 14px;
     width: 156px;
}

#nav-email{
     background-color: transparent;
     height: 25px;
     left: 828px;
     position: absolute;
     top: -27px;
     width: 156px;
}

#nav-menu {
    float: right;
    color: #733D1A;
    float: right;
    position: relative;
    top: 70px;
    right: 80px;
    width: 120px;
}

#nav-menu>a>div {
    margin: 10px auto;
    border: thin solid #733D1A;
    text-align: center;
    width: 120px;
}

#event_area {
    height: 400px;
    width: 180px;
    background-color: #D8F6CE;
    overflow: auto;
}

#footer {
    color: #733D1A;
    text-align: center;
}
