#main {
    height: 2450px;
}

#pretext {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
}

.sgiteal {
    color: #388E8E;
}

.brown {
    color: #733D1A;
}

#intro_adults {
    width: 60%;
    text-align: center;
    float: left;
}

#intro_children {
    width:30%;
    text-align: center;
    float: left;
}

#adults_gallery {
    width: 60%;
    float: left;
    margin: 10px;
    border: thin solid #733D1A;
}

#children_gallery {
    width: 30%;
    float: left;
    margin: 10px;
    border: thin solid #733D1A;
}

#painting {
    float: left;
    margin: 10px;
    width: 46%;
}

#painting>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pre_image {
    margin: 20px auto;
}
