
            <div id="footer">
                <div id="f_menu">
                    <a id="footer-artclass" href="artclass.html">艺术课程 Art Classes</a> | <a id="footer-artjam" href="artjam">艺术休闲 Art Jam</a> | <a id="footer-originalart"href="originalart.html">原创艺术 Original Art</a> | <a id="footer-homedecor" href="homedecor.html">创意家饰 Home Decor</a> | <a id="footer-wearableart" href="wearableart.html">创意服饰 Wearable Art</a> | <a id="footer-privateparties" href="privateparties.html">私人聚会 Private Parties</a>
                </div>
                <div id="f_nav">
                    <a id="footer-homepage" href="index.html">首页 Home</a> | <a id="footer-contacts" href="contact.html">联系我们 Contacts</a> | <a id="footer-map" href="map.html">地图 Map</a>
                </div>
                <div id="copyright">
                    Copyright © 2011-2021www.art-life-studio.comAll Rights Reserved
                </div>
            </div>
