            <div id="nav">
                <a id="nav-artclass" href="artclass.html"></a>
                <a id="nav-artjam" href="artjam.html"></a>
                <a id="nav-originalart" href="originalart.html"></a>
                <a id="nav-homedecor" href="homedecor.html"</a>
                <a id="nav-wearableart" href="wearableart.html"></a>
                <a id="nav-privateparties" href="privateparties.html"></a>
                <a id="nav-email" href="mailto:info@art-life-studio.com"></a>
                <div id="nav-menu">
                    <a id="nav-menu-homepage" href="index.html"><div id="home">首页&nbsp;Home</div></a>
                    <a id="nav-menu-contact" href="contact.html"><div id="contacts">联系我们&nbsp;Contacts</div></a>
                    <a id="nav-menu-map" href="map.html"><div id="map">地图&nbsp;Map</div></a>
                </div>
            </div>
